<section class='l-container content'>
  <!-- _dw -->
  <div id='extras'></div>
  <span id='about'></span>
  <section class='module about'>
    <!-- _dw -->
    <h1>About Dave Woodall</h1>
    <h2>Boulder, CO</h2>
    <div class='image'>
      <!-- _dw -->
      <%= image_tag 'bird.jpg' %>
    </div>
    <div class='copy'>
      <div class='customer_email'>
        <h2>What's an impressionable experience you've had with customer service/support, and why?</h2>
        <p>
          I loath buying vehicles because I posses a special ability at picking clunkers. One time I bought an SUV and it caught on fire six days later. After five of these kinds of fiascos I decided to stop looking for a good deal and start looking for a good seller.
        </p>
        <p>
          I chose Carmax because every car on the lot must pass a 125 point checklist and if anything breaks in the first 30 days they replace it at no charge. Sure enough, two weeks after owning my new vehicle the fuel pump broke. Carmax quickly replaced it and won a customer for life because their service was empathetic, prompt, and effective.
        </p>

        <h2>Tell us about a time where you helped someone.</h2>

        <p>
          I used to sell t-shirts for a living. One order was for 1,200 SECURITY volunteers at a children's concert. The order was completed and in transit as my wife went into labor with our first son.
          We went into the hospital on Monday with the order scheduled to deliver on Tuesday and distrusted to volunteers Thursday, for the Saturday event.
        </p>
        <p>
          At the hospital I received a call from the freight company that the shirts had been lost in transit. Rather than cuddle with my newborn son, I spent those first hours figuring out how to get shirts replaced and delivered in 3 days.
        </p>
        <p>
          The solution I negotiated was for the freight company cover the replacement and rush shipping costs so that innocent children can enjoy their concert in peace.
        </p>





      <h2>What appeals to you about GitHub, as a company you'd potentially be working for?</h2>
      <p>
        Software is eating the world and GitHub manages that software. GitHub is a magnet for the kinds of people, projects, and lifestyle I aspire to be surrounded by professionally and personally.
      </p>
      <p>
        Additionally, I expect to collaborate with the design and engineering staff on a regular basis for customer suggestions and improvements. Such interactions would have a strong positive influence on my own path toward becoming a Senior Rails developer in two to three years.
      </p>
      <h2>How would you describe what GitHub does to a non-technical person?</h2>
      <p>
        <b>me:</b> <i>"We're like Facebook for coders."</i>
      </p>
      <p>
        <b>inquirer:</b> (sips cocktail) <i>"How so?"</i>
      </p>
      <p>
        <b>me:</b> <i>"We make social tools for people to code together. Like sharing and commenting about code."</i>
      </p>
      <p>
        <b>inquirer:</b> (takes a sip) <i>"hmm.. I think there are nachos over there."</i>
      <p>
        <b>me:</b> <i>"But I didn't tell you my fork joke yet?"</i>
      </p>
      </p>
      <h2>What motivates you to work in support?</h2>
      <p>
        I work with git and GitHub everyday. The opportunity to help developers in an area that I know well would provide me a great sense of daily, professional satisfaction. Personally, I enjoy answering questions because it means I have the chance to share my knowledge or learn something new by helping someone else. I also have an appreciation for people who take time to articulate their situation into a question because that's the hard part :-)
      </p>
      <!-- _dw -->
    </div>
  </section>
</section> <!-- question 1 -->
