<nav class='side-stick-nav'>
  <ul>
    <li>Demo tickets</li>
    <li><a class="scroll-on-page-link" href="#one" title="about">
        <h3>
            1. Rebase guidance
        </h3>
    </a></li>
    <li><a class="scroll-on-page-link" href="#two" title="about">
        <h3>
            2. Adding Remotes
        </h3>

    </a></li>
    <li><a class="scroll-on-page-link" href="#three" title="about">
        <h3>
            3. API Connection
        </h3>
    </a></li>
    <li><a class="scroll-on-page-link" href="#four" title="about">
        <h3>
            4. Fork Policy
        </h3>
    </a></li>
    <li><a class="scroll-on-page-link" href="#five" title="about">
        <h3>
            5. Accounts Mgmt
        </h3>
    </a></li>
    <li>&nbsp;</li>
    <li>
        <a class="scroll-on-page-link" href="#extras" title="about">
        <h3>
            About Me
        </h3>
        </a>
    </li>
    <li><%= link_to 'GitHub profile', 'http://www.github.com/woodall' %></li>
    <li><%= link_to 'My homepage', 'http://www.wwwoodall.com' %></li>
    <li><%= link_to 'page repo', 'http://www.github.com/woodall/technical-support' %></li>
  </ul>
</nav>


