<section class='l-container content'>
  <!-- _dw -->
  <div id='five'></div>
  <span id='about'></span>
  <section class='module about'>
    <!-- _dw -->
    <h1><%= tix_number_title('5', 'Accounts Mgmt') %></h1>
    <div class='image'>
      <!-- _dw -->
      <%= image_tag 'animores/fly.jpg' %>
    </div>
    <div class='copy'>
      <div class='customer_email'>
        <h2Need to get my account back</h2>
        <!-- _dw -->
        <h2>Need to get my account back</h2>
        <p>Hi, my name is Jorge,</p>

        <p>I'm the CTO of JorgeLLC. Last year, an now ex colleague, Fabian Freebird registered a github organization in name of our company. Mr Freebird has left the company in December 2012 and disappeared. The github organization is still registered on his account. So i would like to ask if you could transfer the organization to my account jorge2010.</p>

        <p>With kind regards,</p>
        <p>Jorge</p>
      </div>
    </div>
        <div class='image'>
      <%= image_tag 'tall.jpg' %>
    </div>
    <div class='copy'>
      <!-- _dw -->
      <div id='ticket_two_answer'></div>
      <hr>
      <div class='response'>
        <!-- _dw -->
        <p>Hi Jorge,</p>

        <p>
          I'm sorry to hear about your difficulties. Unfortunately, only owners can grant access to other owners. Once you are an owner you will be able to transfer the account to yourself. This brief post on <a href="https://help.github.com/articles/transferring-organization-ownership/" title="Transfering Ownershit">Transfering Ownership</a> will help once you've become an owner.</p>
        <p>
          That's the best I can offer unless we receive a court order.
        </p>
      <%= partial 'shared/signature' %>
      <!-- _dw -->
    </div>
  </section>
</section> <!-- question 1 -->
